<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" type="text/css" href="css/picnic.css" />
    <title>Index de Document Numérique</title>
    <style>
        /** le css se trouve à présent dans le fichier du chemin 
         *  ' ressources/static/css/custom.css ' 
         */
    </style>
</head>

<body>
    <h1>UI PROJET DOC NUM</h1>
    <main id="container">
        <section id="message">
            <h2>Message du Vérificateur</h2>
            <hr />
            <ol>
                <li th:each="message : ${messages}" th:class="${message.type}">[[ ${message.content} ]]</li>
            </ol>
        </section>
        <section id="tables">
            <h2>Les Tables dans la base de données</h2>
            <hr />
            <br />
            <strong>AVION</strong>
            <table>
                <tr>
                    <th>ID</th>
                    <th>NAME</th>
                    <th>NOMBRE</th>
                    <th>WEIGHT</th>
                    <th>MOTEUR_ID</th>
                </tr>
                <tr th:each="avion : ${avions}">
                    <td>[[ ${avion.id} ]]</td>
                    <td>[[ ${avion.name} ]]</td>
                    <td>[[ ${avion.nombre} ]]</td>
                    <td>[[ ${avion.weight} ]]</td>
                    <td>[[ ${avion.moteur.id} ]]</td>
                </tr>
            </table>
            <br />
            <br />
            <strong>MOTEUR</strong>
            <table>
                <tr>
                    <th>ID</th>
                    <th>NOMBRE</th>
                    <th>PUISSANCE</th>
                    <th>TYPE</th>
                </tr>
                <tr th:each="moteur : ${moteurs}">
                    <td>[[ ${moteur.id} ]]</td>
                    <td>[[ ${moteur.nombre} ]]</td>
                    <td>[[ ${moteur.puissance} ]]</td>
                    <td>[[ ${moteur.type} ]]</td>
                </tr>
            </table>
        </section>
    </main>
</body>

<script>
    /* Rafraichir la page régulièrement pour voir l'activité dans la DB */
    window.setInterval(function () {
        document.location.reload(true);
    }, 500);

</script>

</html>