<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" type="text/css" href="picnic.css" />
    <title>Index de Document Numérique</title>
</head>

<body>
    <h1>Aigle Azur</h1>

    <div>
        <h1>Desérialization</h1>

        <b>Lire un fichier XML, l'afficher dans l'IDE et répércute les modif dans la BD H2 (voir H2 console - url de la base de donnée : ./hihi)</b><br>

        <ul>
            <li><a th:href="@{deserializationDOM}">Méthode DOM pour la flotte</a></li>
        </ul>
        <ul>
            <li><a th:href="@{deserializationJackson}">Méthode Jackson pour la flotte</a></li>
        </ul>
        <!--
        <ul>
            <li><a th:href="@{deserializationSAX}">Méthode SAX test extérieur</a></li>
        </ul> -->



    </div>

    <div>
        <h1>Importation des fichiers XML</h1>
        <form method="POST" th:action="@{/addfiles}" th:object="${upload}" enctype="multipart/form-data">
            <span>Choisir les fichiers à importer :</span>
            <input style="width: 320px" multiple accept=".xml" type="file" th:field="*{files}">
            <button type="submit">Valider</button>
        </form>
    </div>

    <div>
        <h1>Vérification d'un fichier XML</h1>
        <form method="POST" th:action="@{/checkfile}">
            <button type="submit">Vérifier</button>
        </form>
    </div>

</body>

</html>